
.imgBox {
    height: 63vh;
    width: 66vw;
    position: absolute;
    top: 102px;
    border-radius: 20px;
    z-index: 20;
    background-repeat: no-repeat !important;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.overlay {
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    min-width: inherit;
    height: inherit;
    width: inherit;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .overlay .image {
    display: flex;
    justify-content: start;
  
  }
  .overlayMargin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:  2rem;
    overflow: scroll;
  }
  .overlayMargin::-webkit-scrollbar{
    display: none;
  }
  
  .image img {
    z-index: 2;
    height: 290px;
    left: 130px;
    top: 130px;
  
  }
  .productName{
    height: 40px;
    width: 250px;
  }

  .productName input{
    height: 100%;
    width: 100%;
    border: 2px solid grey;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    background: transparent;
    color: white;
    font-size: 1rem;
    transition: border 0.4s ease;
  }
  .productName input:focus{
    border: 2px solid #005bea;
  }
  .price{
    height: 40px;
    width: 100px;
  }
  .price input{
    height: 100%;
    width: 100%;
    border: 2px solid grey;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    background: transparent;
    color: white;
    font-size: 1rem;
    transition: border 0.4s ease;
  }

  .price input:focus{
    border: 2px solid #005bea;
  }
  .detailsCard{
    height: 150px;
    width: 370px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: all 0.3s ease;
    
  }
  .detailsCard textarea{
    color: white;
    height:100%;
    width: 100%;
    resize: none;
    border: none;
    background: transparent;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    font-size: 1.1rem;
    letter-spacing: 1px;
    cursor: pointer;
    border: 2px solid gray;
    transition: border 0.4s ease;
  }


  .detailsCard textarea::-webkit-scrollbar{
    display: none;
  }
 textarea:focus {
    border: 2px solid #005bea;
  }


  .heading {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: white;
    padding: 15px;
    gap: 3rem;
  
  }
  .category {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    gap: 0.5rem; 
  }
  .category select{
    background: transparent;
    color: white;
    font-size: 1rem;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 10px;
    direction: rtl !important;
    text-align:left;
    outline: none;
    transition: all 0.3s ease-in-out;

  }

  .category select:focus{
    color: grey;
    border: 2px solid #005bea;
  }
  .category img {
    height: 40px;
  }
  .rating {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .rating input{
    background: transparent ;
    border: 2px solid grey;
    padding: 7px;
    color: white;
    font-size: 1.1rem;
    border-radius: 9px; 
    width: 100px;
    padding-left: 10px;
    text-align:left;
    margin-right: 3px;
    margin-top: -2px;
    transition: all 0.3s ease-in-out;
    outline: none;
  }
  .rating input:focus{
   color: grey;
   border: 2px solid #005bea;
  }
  .rating img {
    height: 14px;
  }
  
 .button{
  display: flex;
  justify-content: start;
  gap: 2rem;
  cursor: pointer;
 }
 .saveButton{
  display: flex;
  background-color: #005bea;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 40px;
  padding: 0 15px;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 10px;
  color: white;
 }
 .cancelButton{
  display: flex;
  background-color: #dc143c;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 40px;
  padding: 0 15px;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 10px;
  color: white;
 }

 @media screen and (max-width : 1440px){

  .imgBox {
    height: 55vh;
    width: 62vw;
    transition: all 0.2s ease;
  }
  .overlayMargin{
    gap: 1.5rem;
  }
  .image img {
    height: 260px;
  }
}

@media screen and (max-width: 1180px) {
  .imgBox {
    height: 55vh;
    width: 78vw;
    top: 220px;
    transition: all 0.2s ease;
  }
  .image img {
    height: 260px;
  }
}
@media screen and (max-width: 780px) {
  .imgBox {
    height: 70vh;
    width: 60vw;
    transition: all 0.2s ease;
  }
  .overlay {
    flex-direction: column;
    justify-content: space-around;
  }
  .overlayMargin{
    gap: 1rem;
  }
  .image img {
    height: 200px;
  }
  .detailsCard{
    height: 120px;
    width: 340px;
  }
  .heading {
    gap: 1rem;
  }
}
@media screen and (max-width: 666px) {
  .imgBox {
    height: 73vh;
    width: 80vw;
    top: 200px;
    transition: all 0.2s ease;
  }
  .overlay {
    flex-direction: column;
    justify-content: space-around;
  }
  .overlayMargin{
    gap: 1rem;
  }
  .image img {
    height: 100px;
  }
 
  .heading {
    gap: 1rem;
  }
  .rating input{
    width: 60px;
    padding-left: 5px;
    margin-right: none;
  }
  .detailsCard{
    height: 110px;
    width: 300px;
  }
  .productName{
    height: 35px;
    width: 220px;
  }
  .price{
    height: 35px;
  }
  .rating input{
    height: 40px;
  }
  .category select{
    height: 40px;
  }
  .saveButton{
    height: 33px;
    font-size: 1rem;
   }
   .cancelButton{
    height: 33px;
    font-size: 1rem;
   }
}

 