.homeContainer {
  height: 100vh;
  width: 100vw;
  background-color: rgb(31, 31, 31);
}

.itemContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.style {
  height: 150px;
  width: 150px;
  position: absolute;
  background-color: #060606;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  left: 50px;
  top: 40px;
  border-radius: 30%;
}
.inStyle {
  height: 80px;
  width: 80px;
  opacity: 0.9;
  background-color: rgb(79, 79, 79);
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #8f57d3;
  font-size: 1.3rem;
  font-weight: 600;
}

/* .inStyle span{
    
    position: absolute;
    left: 30px;
    animation: updown 2s infinite ;
} */

/* @keyframes updown {
    50% {
        margin-top: -50px;
        rotate: 90deg;
        scale: 1.5;
        color: #8f57d3;
    }
    100% {
        margin-top: 0;
    }
} */

.box {
  height: 80%;
  width: 70%;
  padding: 1px;
  background-color: #000000a9;
  box-shadow: 1px 1px 3px inset rgb(6, 6, 6);
  border-radius: 10px;
  rotate: 2deg;
  position: relative;
}
.inBox {
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  max-width: 100%;
  background-image: url("https://images.pexels.com/photos/3526906/pexels-photo-3526906.jpeg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  rotate: -2deg;
  display: flex;
  justify-content: end;
  opacity: 0.9;
}
.logo {
  position: absolute;
  left: 10px;
  margin: 20px;
  display: flex;
}

.point {
  height: 10px;
  width: 10px;
  background-color: rgb(38, 214, 11);
  border-radius: 50%;
  margin-top: 19px;
}
.logo h3 {
  font-size: 2rem;
  font-family: sans-serif;
  color: #8f57d3;
  font-weight: 700;
}

.heading1 {
  left: 2%;
  top: 18%;
  font-size: 18px;
  position: absolute;
  color: #e5643e;
  font-weight: 500;
}
.heading2 {
  left: 20%;
  bottom: 8%;
  font-size: 18px;
  position: absolute;
  color: #e5643e;
  font-weight: 500;
  display: none;
}
.heading1 h2 {
  font-size: 40px;
  margin-top: 1rem;
}

.items {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-right: 50px;
}

.zoom {
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
}
.img1 {
  height: 150px;
  width: 150px;
  background-color: yellow;
  border-radius: 50%;
  background-image: url("https://images.pexels.com/photos/10292806/pexels-photo-10292806.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease;
}
.img2 {
  height: 150px;
  width: 150px;
  background-color: rgb(0, 55, 255);
  border-radius: 50%;
  background-image: url("https://images.pexels.com/photos/14309806/pexels-photo-14309806.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-size: cover;
  transform: scale(1.2);
  transition: all 0.5s ease;
}
.img3 {
  height: 150px;
  width: 150px;
  background-color: rgb(255, 0, 51);
  border-radius: 50%;
  background-image: url("https://images.pexels.com/photos/3083461/pexels-photo-3083461.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease;
}

.img1:hover {
  transform: scale(1.4);
}
.img2:hover {
  transform: scale(1.3);
}
.img3:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1440px) {
  .style {
    height: 130px;
    width: 130px;
    transition: all 0.4s ease;
  }
  .inStyle {
    height: 70px;
    width: 70px;
    font-size: 1rem;
    transition: all 0.4s ease;
  }
  .box {
    height: 70%;
    width: 70%;
    transition: all 0.4s ease;
  }
  .heading1 h2 {
    font-size: 34px;
    transition: all 0.3s ease-in-out;
  }

  .zoom {
    height: 130px;
    width: 130px;
  }
  .img1 {
    height: 130px;
    width: 130px;
  }
  .img2 {
    height: 130px;
    width: 130px;
  }
  .img3 {
    height: 130px;
    width: 130px;
  }
}

/* 1260px */

@media screen and (max-width: 1260px) {
  .style {
    height: 100px;
    width: 190px;
    left: 20px;
    top: 10px;
    border-radius: 10px;
  }
  .inStyle {
    height: 70px;
    width: 100px;
    font-size: 1.5rem;
    border-radius: 10px;
  }
  .inBox {
    background-image: url("https://images.pexels.com/photos/1637436/pexels-photo-1637436.jpeg");
    display: flex;
  }
  .heading1 h2 {
    font-size: 1.8rem;
    color: white;
  }
  .heading1 p {
    color: red;
    font-size: 16px;
  }

  .itemsPos {
    margin-right: 42%;
    rotate: 270deg;
    margin-top: 200px;
    transition: all 0.6s ease;
  }
  .zoom {
    height: 130px;
    width: 130px;
    rotate: 90deg;
  }
}
@media screen and (max-width: 1180px) {
  .box {
    height: 100%;
    width: 100%;
    rotate: none;
  }
  .inBox {
    height: 100%;
    width: 100%;
    rotate: none;
    background-image: url("https://images.pexels.com/photos/23474/pexels-photo.jpg");

  }
  .style {
    display: none;
  }
  .inStyle {
    display: none;
  }
  .itemsPos {
    margin-right: 0;
    rotate: none;
    margin-top: 0;
    transition: all 0.6s ease;
  }
  .zoom {
    rotate: none;
    height: 150px;
    width: 150px;
    border: 2px solid gray;
  }
  .img1{
    height: 150px;
    width: 150px;
  }
  .img2{
    height: 150px;
    width: 150px;
  }
  .img3{
    height: 150px;
    width: 150px;
  }
  .heading1 h2 {
    font-size: 2.5rem;
    color: white;
  }
  .heading1 p {
    color: red;
    font-size: 20px;
  }
  .heading2 {
    font-size: 2vw;
    position: absolute;
    color: #ffffff;
    font-weight: 500;
    display: block;
  }
  .heading2 h2 {
    font-size: 5vw;
    margin-top: 1rem;
  }
  .heading1 {
    display: none;
  }

}

@media screen and (max-width: 730px) {
  .inBox {
    justify-content: center;
  }
  .items {
    height: 100%;
    width: 100%;
    display: flex;
    row-gap: 2rem;
    margin-left: 45px;
    margin-top: -90px;
  }
  
  .zoom {
    rotate: none;
    height: 150px;
    width: 180px;
    border: 2px solid gray;
    border-radius: 10px;
  }
  .img1{
    height: 150px;
    width: 180px;
    border-radius: 10px;
  }
  .img2{
    height: 150px;
    width: 180px;
    border-radius: 10px;

  }
  .img3{
    height: 150px;
    width: 180px;
    border-radius: 10px;

  }

}
@media screen and (max-width: 600px) {
  .zoom {
    height: 130px;
    width: 150px;
  }
  .img1{
    height: 130px;
    width: 150px;
  }
  .img2{
    height: 130px;
    width: 150px;
  }
  .img3{
    height: 130px;
    width: 150px;
  }
  .heading2 {
    left: 20%;
    bottom: 6%;
    font-size: 16px;
    position: absolute;
    color: #d07e2c;
    font-weight: 500;

  }
  .heading2 h2{
    font-size: 20px;
    color: #ffffff;
  }
 
 
}