.navbar{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 2%;
}
.navbar ul{
    list-style: none;
    
}
.list a{
    text-decoration: none;
    margin-left:30px;
    font-size:20px;
    color:rgb(242, 242, 242);
}


.cartLink {
    position: relative; 
}

.cart{
    display: flex;
    height: 15px;
    width: 35px;
    position: absolute;
    left: 0px;
    font-size: 0.7rem;
    border-radius: 10px;
    color: white;
    justify-content: center;
    font-weight: 700;
    align-items: center;
    background-color: red;
}
.dealLink{
    position: relative;
}
.deal{
    display: flex;
    height: 15px;
    width: 35px;
    position: absolute;
    left: 0px;
    font-size: 0.7rem;
    border-radius: 10px;
    color: white;
    justify-content: center;
    font-weight: 700;
    align-items: center;
    background-color: red;
}


@media screen and (max-width: 1440px){
    .list a{
        margin-left:20px;
        font-size:18px;
        color:rgb(242, 242, 242);
    }
}
