.homeContainer {
  height: 100vh;
  width: 100vw;
  background-color: #cfd8d9;
}
.itemContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.style {
  height: 450px;
  width: 450px;
  position: absolute;
  background-color: rgba(101, 255, 62, 0.486);
  border-radius: 40%;
  left: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 200px 200px 40px inset rgba(15, 241, 15, 0.444);
  opacity: 0.7;
}
.inStyle {
  height: 200px;
  width: 200px;
  opacity: 0.5;
  background-color: rgba(255, 255, 0, 0.572);
  border-radius: 30px;
  box-shadow: 3px 4px 30px rgba(242, 242, 43, 0.572);
}
.box {
  height: 80%;
  width: 70%;
  padding: 1px;
  background-color: #e2e3e9;
  box-shadow: 1px 1px 5px inset rgb(100, 99, 99);
  border-radius: 10px;
  rotate: 2deg;
}
.inBox {
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: #e5e4e9;
  box-shadow: 1px 1px 10px inset rgb(135, 134, 134);
  border-radius: 10px;
  rotate: -2deg;
}
.sortCategory {
  position: absolute;
  right: 0;
  top: 50px;
  padding: 40px;
  cursor: pointer;
}

.cardBox {
  height: 78%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  column-gap: 2rem;
  flex-wrap: wrap;
  max-width: 80%;
  padding: 10px;
}
.cardBox::-webkit-scrollbar {
  display: none;
}
.imgBox {
  height: 540px;
  width: 400px;
  margin-top: 2.2rem;
  display: flex;
  justify-content: center;
  background-size: contain;
  margin: 10px;
  background-repeat: no-repeat !important;
  border-radius: 20px;
}
.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  min-width: inherit;
  height: inherit;
  width: inherit;
  border-radius: 20px;
}

.overlay .image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -20px;
  left: -15px;
}

.image img {
  position: relative;
  z-index: 2;
  height: 220px;
  margin-top: 0px;
  margin-left: 40px;
}
/* product menu */
.menu {
  display: flex;
  color: rgb(173, 171, 171);
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  padding-top: 0px;
  height: 100px;
  width: 100px;
  right: 0;
  gap: 4px;
  top: 15px;
  cursor: pointer;
  position: absolute;
}
.likeButton {
  font-size: 1rem;
  padding: 2px;
}
.editButton {
  font-size: 1rem;
  padding: 2px;
}
.deleteButton {
  font-size: 1rem;
  padding: 2px;
}

.likeButton:hover .icon1 {
  color: red;
}
.likeButton:hover {
  color: white;
}

.editButton:hover .icon2 {
  color: green;
}

.editButton:hover {
  color: white;
}

.deleteButton:hover .icon3 {
  color: red;
}

.deleteButton:hover {
  color: white;
}

.border {
  border-bottom: 1px solid rgb(87, 87, 87);
}

/* Product details */

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -30px;
  height: 40%;
  width: 100%;
}
.heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: white;
  padding: 25px;
  margin-bottom: 30px;
}
.category {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  gap: 0.5rem;
}
.category img {
  height: 19px;
}
.rating {
  font-size: 1.1rem;
}
.rating img {
  height: 14px;
}
.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  color: white;
}

/* Add to cart Button */
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.actions button {
  padding: 10px 18px;
  position: absolute;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.actions .cartIcon {
  height: 19px;
  margin-right: 4px;
}
.actions button:hover {
  background-color: transparent;
  color: white;
  border-color: white;
}

.arrow {
  position: absolute;
  left: 0;
  bottom: 0;
  rotate: 310deg;
  color: rgb(223, 222, 222);
  padding: 12px;
  font-size: 1.4rem;
  overflow: hidden;
}


.detailsCard{
  position: absolute;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 370px;
  background-color: #dee1e5;
  left: 22px;
  bottom: 30px;
  border-radius: 20px 20px 20px 5px;
  transition: all 0.3s ease;
  font-size: 1.1rem;
  padding: 15px;
  overflow: scroll;
}
.detailsCard::-webkit-scrollbar{
  display: none;
}

.detailsCard h3{
  color: gray;
}

.menuBox{
position: absolute;
left: 10px;
top: 120px;
}

.menuButton {
  font-size: 1.3rem; 
  height: 130px;
  width: 140px;
  left: 0;
  top: 0;
}

.shortByPrice {
  background-color: #c8c6ca;
  box-shadow: 1px 1px 5px inset rgb(100, 99, 99);
  height: 130px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  gap: 0.5rem;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  
}
.shortLatest {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  padding: 7px;
  cursor: pointer;
  
}

.shortLatest .dotIcon {
  color: green;
  font-size: 0.5rem;
}
.shortLatest p {
  color: black;
}
.shortLatest span {
  font-size: 0.8rem;
  margin-top: -4px;
  color: rgb(70, 69, 69);
 
}

.shortHigh {
  display: flex;
  gap: 5px;
  padding: 7px;
  justify-content: center;
  cursor: pointer;
}

.shortLow {
  display: flex;
  gap: 5px;
  padding: 7px;
  justify-content: center;
  cursor: pointer;
}
.barIcon {
  position: absolute;
  right: -1px;
  top: -30px;
  cursor: pointer;
}
.borderBottom{
  border-bottom: 1px solid rgb(133, 130, 130);
  width: 140px;
  margin-top: -5px; 
}

.shortLatest p:hover {
 color: #0c59cd;
 transition: all 0.3s ease;
}
.shortHigh:hover {
  color: #0c59cd;
  transition: all 0.3s ease;
}

.shortLow:hover {
  color: #0c59cd;
  transition: all 0.3s ease;
}


/* categorty sort */

/* .categoryBox{
 
  
}
.sortCategory {
  font-size: 1.3rem; 
  height: 130px;
  width: 140px;
  left: 0;
  top: 0;
}

.sortCategory {
  background-color: #c8c6ca;
  box-shadow: 1px 1px 5px inset rgb(100, 99, 99);
  height: 130px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  gap: 0.5rem;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  
}
.categoryButton{
  display: flex;
  position: absolute;
  top: 100px;
  right: 0;
} */
.itemCategory{
 
  position: absolute;
  right: 30px;
  top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  gap: 1rem;
}
.categoryBox{
  height: 140px;
  width: 140px;
  background-color: rgb(182, 174, 174);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  z-index: 30;
}

.categoryButton{
  height: 40px;
  width:140px;
  background-color: rgb(31, 31, 31);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 1rem;
  color: white;
 
}
.categoryBox {
  border-bottom: 1px solid black;
}
.categoryBox div{
  cursor: pointer;
 display: flex;
 justify-content: center;
 padding: 4px;
  width: 100%;
}
/* for emply products */

.emptyProduct{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.emptyProduct p{
  color: grey;
}
.browseProduct{
  padding: 10px;
  font-size: 1rem;
  background-color: rgb(90, 161, 248);
  border-radius: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  
}

.browseProduct:hover{
  background-color: rgb(9, 85, 179);
  
}