*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

.container{
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: rgb(31, 31, 31);
  overflow: scroll;
}
.container::-webkit-scrollbar{
  display: none;
}
.home-container{
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toast-message {
  font-size: 20px;
  width: 350px;

}



