*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.hello{
  height: 100%;
  width: 100%;
 
}
.box img{
  height: 200px;
  width: 200px;
  border: 1px solid white;
}
